@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using SignalRxoGame.shared
@inject NavigationManager nm
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>Game</h3>

@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
         .WithUrl(nm.ToAbsoluteUri("/mygamehyb"))
         .Build();

        hubConnection.On<List<GameRoom>>("Rooms", (roomList) =>
        {
            Console.WriteLine($" The Total of all rooms count = {roomList.Count}");    
        }); 

        await hubConnection.StartAsync();
    }

}
