@using Microsoft.AspNetCore.SignalR.Client
@using SignalRxoGame.shared

@if(myRoom != null)
{
    <h3>Room : @myRoom.RoomName</h3>
    if (myRoom.players.Count < 2)
    {
        <h3> you can't play this game with ypur self please wait for another player </h3>
    }
}

@if(!myRoom.myGame.GameStart && myRoom.myGame.xPlayerConId != myPlayerId && myRoom.players.Count == 2)
{
    <h3>you must wait for your next player to start :)</h3>

}


@code {
    [Parameter]
    public GameRoom? myRoom { get; set; }

    [CascadingParameter]
    public HubConnection? hubCon {get; set;}

    private string? myPlayerId;

    protected override async Task OnInitializedAsync()
    {
        if (myRoom == null || hubCon == null || hubCon.ConnectionId == null)
        {
            return;
        }

        myPlayerId = hubCon.ConnectionId;

        hubCon.On<Player>("NewPlayerJoined", Player =>
        {
            myRoom.players.Add(Player);
            StateHasChanged();
        });

        hubCon.On<GameRoom>("GameUpdate", updatedRoom =>
        {
            myRoom = updatedRoom;
            StateHasChanged();
        });
    }

    public async Task StartGame()
    {
        if (myRoom == null || hubCon == null || hubCon.ConnectionId == null)
        {
            return;
        }
        await hubCon.InvokeAsync("StartGame", myRoom.RoomId);
    }
}
